@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
/* line 1, ../sass/_common.scss */
.font-headings, h1, h2, h3, .logo {
  font-family: 'Bitter', serif;
  font-weight: 700;
}

/* line 5, ../sass/_common.scss */
.font-normal, body {
  font-family: 'Raleway', sans-serif;
}

/* line 9, ../sass/_common.scss */
.clearfix:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 5, ../sass/_grid.scss */
.column, .column-9, .column-3, .column-6 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

/* line 12, ../sass/_grid.scss */
.column-9 {
  width: 75%;
}

/* line 17, ../sass/_grid.scss */
.column-3 {
  width: 25%;
}

/* line 22, ../sass/_grid.scss */
.column-6 {
  width: 50%;
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 27, ../sass/_grid.scss */
  .medium-12 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  /* line 33, ../sass/_grid.scss */
  .small-6 {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  /* line 39, ../sass/_grid.scss */
  .small-12 {
    width: 100%;
  }
}

/* line 56, icons/*.png */
.icons-sprite, .icons-fb, .icons-tw {
  background-image: url('../img_c/icons-se747339bde.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/sprites/_base.scss */
.icons-fb {
  background-position: 0 0;
  height: 22px;
  width: 22px;
}

/* line 84, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tw {
  background-position: 0 -22px;
  height: 22px;
  width: 22px;
}

/* line 17, ../sass/style.scss */
.icon {
  display: inline-block;
}

/* line 21, ../sass/style.scss */
html {
  font-size: 100%;
}

/* line 25, ../sass/style.scss */
body {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

/* line 32, ../sass/style.scss */
h1, h2, h3 {
  color: #b95835;
}

/* line 37, ../sass/style.scss */
.logo {
  color: #7a3e48;
  font-size: 3.125rem;
}

/* line 43, ../sass/style.scss */
.featured-project {
  font-size: 1.125rem;
}

/* line 47, ../sass/style.scss */
.categories {
  list-style-type: none;
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  /* line 51, ../sass/style.scss */
  .categories li {
    background: #e18942;
    margin-bottom: 10px;
    padding: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 51, ../sass/style.scss */
  .categories li {
    float: left;
    padding-right: 1.25rem;
  }
}

/* line 65, ../sass/style.scss */
.button {
  display: inline-block;
  width: 8.75rem;
  text-align: center;
  color: white;
  background: #e18942;
  font-size: 1.125rem;
  line-height: 1.875rem;
  border: 1px solid #b9631d;
  -moz-border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
}

/* line 77, ../sass/style.scss */
header nav ul {
  float: right;
}

/* line 82, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 87, ../sass/style.scss */
footer {
  background: #dadada;
}
/* line 90, ../sass/style.scss */
footer ul {
  list-style-type: none;
  padding-left: 0;
}
/* line 94, ../sass/style.scss */
footer ul li {
  margin-bottom: 0.3125rem;
}
/* line 96, ../sass/style.scss */
footer ul li span {
  vertical-align: middle;
  display: inline-block;
  line-height: 22px;
}

/* line 105, ../sass/style.scss */
.right {
  float: right;
}

/* line 110, ../sass/style.scss */
img {
  max-width: 100%;
}
