@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
/* line 1, ../sass/_common.scss */
.font-headings, h1, h2, h3, .logo {
  font-family: 'Bitter', serif;
  font-weight: 700;
}

/* line 5, ../sass/_common.scss */
.font-normal, body {
  font-family: 'Raleway', sans-serif;
}

/* line 9, ../sass/_common.scss */
.clearfix:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 5, ../sass/_grid.scss */
.column, .column-9, .column-3, .column-6 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

/* line 12, ../sass/_grid.scss */
.column-9 {
  width: 75%;
}

/* line 17, ../sass/_grid.scss */
.column-3 {
  width: 25%;
}

/* line 22, ../sass/_grid.scss */
.column-6 {
  width: 50%;
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 27, ../sass/_grid.scss */
  .medium-12 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  /* line 33, ../sass/_grid.scss */
  .small-6 {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  /* line 39, ../sass/_grid.scss */
  .small-12 {
    width: 100%;
  }
}

/* line 9, ../sass/style.scss */
html {
  font-size: 100%;
}

/* line 13, ../sass/style.scss */
body {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

/* line 20, ../sass/style.scss */
h1, h2, h3 {
  color: #b95835;
}

/* line 25, ../sass/style.scss */
.logo {
  color: #7a3e48;
  font-size: 3.125rem;
}

/* line 31, ../sass/style.scss */
.featured-project {
  font-size: 1.125rem;
}

/* line 35, ../sass/style.scss */
.categories {
  list-style-type: none;
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  /* line 39, ../sass/style.scss */
  .categories li {
    background: #e18942;
    margin-bottom: 10px;
    padding: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 39, ../sass/style.scss */
  .categories li {
    float: left;
    padding-right: 1.25rem;
  }
}

/* line 53, ../sass/style.scss */
.button {
  display: inline-block;
  width: 8.75rem;
  text-align: center;
  color: white;
  background: #e18942;
  font-size: 1.125rem;
  line-height: 1.875rem;
  border: 1px solid #b9631d;
}

/* line 64, ../sass/style.scss */
header nav ul {
  float: right;
}

/* line 69, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 74, ../sass/style.scss */
footer {
  background: #dadada;
}

/* line 78, ../sass/style.scss */
.right {
  float: right;
}

/* line 83, ../sass/style.scss */
img {
  max-width: 100%;
}
