@import '_vars';
@import '_common';
@import '_grid';

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);


body {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	@extend .font-normal;	
}

h1, h2, h3 {
	@extend .font-headings;
	color: $color-primary;
}

.logo {
	color: $color-logo;
	@extend .font-headings;
	font-size: 50px;
}



.categories {
	list-style-type: none;
	padding-left: 0;

	li {
		@include respond-to(mobile) {
			background: $color-secondary;
			margin-bottom: 10px;
			padding: 10px;			
		}

		@include respond-to(tablet) {
			float: left;
			padding-right: 20px;			
		}
	}
}


header nav ul {
	float: right;
}


.clear {
	clear: both;
}


footer {
	background: $color-footer;
}

.right {
	float: right;
}


img {
	max-width: 100%;
}
