@import '_vars';
@import '_common';
@import '_grid';

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);


html {
	font-size: 100%;
}

body {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	@extend .font-normal;	
}

h1, h2, h3 {
	@extend .font-headings;
	color: $color-primary;
}

.logo {
	color: $color-logo;
	@extend .font-headings;
	font-size: rem(50px);
}

.featured-project {
	font-size: rem(18px);
}

.categories {
	list-style-type: none;
	padding-left: 0;

	li {
		@include respond-to(mobile) {
			background: $color-secondary;
			margin-bottom: 10px;
			padding: 10px;
		}

		@include respond-to(tablet) {
			float: left;
			padding-right: rem(20px);
		}
	}
}

.button {
	display: inline-block;
	width: rem(140px);
	text-align: center;
	color: lighten($color-secondary, 90%);
	background: $color-secondary;
	font-size: rem(18px);
	line-height: rem(30px);
	border: 1px solid darken($color-secondary, 15%);
}

header nav ul {
	float: right;
}


.clear {
	clear: both;
}


footer {
	background: $color-footer;
}

.right {
	float: right;
}


img {
	max-width: 100%;
}
